In [1]:
import pandas as pd
import pymongo
import requests
import json

In [2]:
bike_data_csv = "data/metro-bike-share-trips-2018-q3.csv"

In [3]:
bike_data_df = pd.read_csv(bike_data_csv)

In [ ]:
bike_data_df.head()

In [5]:
bike_data_df = bike_data_df.dropna()

In [6]:
bike_data_df.describe()

,trip_id,duration,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration
count,9.319900e+04,93199.000000,93199.000000,93199.000000,93199.000000,93199.000000,93199.000000,93199.000000,93199.000000,93199.000000
mean,1.020450e+08,39.150903,3453.815921,34.031744,-118.297169,3454.848282,34.031997,-118.297607,8329.991781,22.573000
std,3.391003e+06,106.635812,555.496890,0.064308,0.102349,556.044923,0.063870,0.103344,2889.897390,51.592113
min,9.485113e+07,1.000000,3005.000000,33.710979,-118.491341,3005.000000,33.710979,-118.491341,4727.000000,1.000000
25%,9.919732e+07,7.000000,3030.000000,34.014309,-118.282722,3031.000000,34.014309,-118.283409,6087.000000,1.000000
50%,1.033932e+08,14.000000,3064.000000,34.045422,-118.256187,3064.000000,34.045181,-118.256187,6484.000000,30.000000
75%,1.048693e+08,33.000000,4204.000000,34.050880,-118.243530,4204.000000,34.049889,-118.243530,12110.000000,30.000000
max,1.065433e+08,1440.000000,4267.000000,34.165291,-118.116539,4267.000000,34.165291,-118.116539,12456.000000,365.000000

In [7]:
items = bike_data_df[:5].to_json(orient='records')

In [8]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [9]:
db = client.bike_data_db
collection = db.bike_trip

In [10]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'bike_data_db'), 'bike_trip')

In [11]:
items_db = json.loads(items)

In [16]:
db.bike_trip.insert_many(items_db)

In [17]:
collection.count_documents({})

5

In [ ]:
collection.find_one()

In [ ]:
oneWayDoc = collection.find({"trip_route_category": "One Way"})

In [ ]:
for x in oneWayDoc:
    print(x)

In [14]:
collection.drop()

In [ ]:
mapbox_api_key = "pk.eyJ1IjoiY2hhcmxlaGwiLCJhIjoiY2pvbHM0NzZyMDZoMDNxczg0bXB5ZjV6ZiJ9.MSwFdl5_aHm9jcbDFjnVvA"

In [ ]:
from mapbox import Directions

In [ ]:
service = Directions(access_token=mapbox_api_key)
# The input waypoints are features, typically GeoJSON-like feature dictionaries
origin = {
    'type': 'Feature',
    'properties': {'name': '7th & Flower'},
    'geometry': {
        'type': 'Point',
        'coordinates': [-118.25854, 34.0485]}}
destination = {
    'type': 'Feature',
    'properties': {'name': 'Ports O\'Call'},
    'geometry': {
        'type': 'Point',
        'coordinates': [-118.27779, 33.73352]}}
# The directions() method can be called with a list of features and the desired profile
response = service.directions([origin, destination], 'mapbox/cycling')

In [ ]:
response

In [ ]:
json.loads(response.text)