In [52]:
import pandas as  pd
import pymongo
import requests
import json
from datetime import datetime
import time
import calendar

In [ ]:
bike_data_csv = "data/metro-bike-share-trips-2018-q3.csv"

In [ ]:
bike_data_df = pd.read_csv(bike_data_csv)

In [ ]:
bike_data_df['weekday'] = bike_data_df.apply(lambda row: calendar.day_name[datetime.strptime(row.start_time, '%Y-%m-%d %H:%M:%S').weekday()] , axis=1)

In [ ]:
bike_data_df['start_day'] = bike_data_df.apply(lambda row: datetime.strptime(row.start_time, '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d') , axis=1)

In [ ]:
bike_data_df.head()

In [ ]:
bike_data_df['start_time'] = pd.to_datetime(bike_data_df['start_time'], format='%Y-%m-%d %H:%M:%S')
bike_data_df['end_time'] = pd.to_datetime(bike_data_df['end_time'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
#items = bike_data_df[:1000].to_json(orient='records', date_format='iso', date_unit='s')
items = bike_data_df[:1000].to_json(orient='records')

In [53]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017/bike_data_db'
client = pymongo.MongoClient(conn)

In [54]:
db = client.bike_data_db
collection = db.bike_trip

In [55]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'bike_data_db'), 'bike_trip')

In [ ]:
items_db = json.loads(items)

In [ ]:
collection.drop()

In [ ]:
db.bike_trip.insert_many(items_db)

In [56]:
collection.count_documents({})

93199

In [ ]:
collection.distinct("start_day")

In [8]:
collection.find_one()

TypeError: 'Collection' object is not callable. If you meant to call the 'find_one' method on a 'Database' object it is failing because no such method exists.

In [ ]:
oneWayDoc = collection.find({"trip_route_category": "One Way"})

In [ ]:
oneWayDoc[0]

In [ ]:
#temp = collection.find({"start_time": {'$gte': '2018-07-01T00:00:00Z', '$lt': '2018-07-31T23:59:59Z'}})
temp = collection.find({"start_day": {'$gte': '2018-07-01', '$lt': '2018-07-31'}})

In [ ]:
list(temp)

In [ ]:
datetime.datetime.utcnow().strftime("%Y%m%dT%H%M%S.%fZ")

In [93]:
from flask import jsonify

In [ ]:
bike = list(temp)

In [ ]:
bike

In [ ]:
for x in bike:
    x.pop('_id', None)
bike[0]

In [ ]:
b_link = "http://s3-us-west-2.amazonaws.com/boundaries.latimes.com/archive/1.0/boundary-set/la-county-neighborhoods-v5.geojson"

In [13]:
collection = db.la_boundary

In [14]:
collection.find()

In [ ]:
r = requests.get(b_link)

In [ ]:
r.json()

In [ ]:
collection.insert(r.json())

In [ ]:
temp = collection.find()

In [ ]:
temp = list(temp)

In [ ]:
for i in temp:
    i.pop('_id', None)

In [4]:
db = client

In [3]:
db = client.bike_rental

In [4]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'bike_rental')

In [6]:
collection = db.bike_rental

In [7]:
collection.count_documents({})

0

In [9]:
db = client.bike_data_db

bike_trip = db.bike_trip.find()

full_dict = []
for trip in bike_trip:
    full_dict.append(trip)
df = pd.DataFrame(full_dict)

# use k to filter dataframe based on passholder type
# group by day of week and pass info back into d3

#pass_type = request.args.get('pass_type')

#selection = df.loc[df['passholder_type'] == pass_type, :]    
#grouped_df = selection[['weekday','duration']].groupby('weekday').sum()
#index_reset = grouped_df.reset_index()
#index_reset['weekday'] = pd.Categorical(index_reset['weekday'], categories=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'], ordered=True)
#weekday_df = index_reset.sort_values('weekday')

In [13]:
df.head().groupby(['passholder_type', 'weekday']).sum()

,,bike_id,duration,end_lat,end_lon,end_station,plan_duration,start_lat,start_lon,start_station,trip_id
passholder_type,weekday,,,,,,,,,,
Flex Pass,Sunday,6518,8,34.046520,-118.237411,3082,365,34.035801,-118.233170,3058,94851141
Monthly Pass,Sunday,17217,30,102.359310,-354.536391,11418,425,102.322048,-354.515328,11362,284553415
Walk-up,Sunday,12055,35,33.779819,-118.263023,3013,1,33.779819,-118.263023,3013,94851136

In [49]:
grouped_df = df[['passholder_type','weekday', 'duration']].groupby(['passholder_type','weekday']).sum()

In [48]:
group2_df

[Saturday, Sunday, Friday, Monday, Saturday, ..., Saturday, Sunday, Thursday, Tuesday, Wednesday]
Length: 30
Categories (7, object): [Monday < Tuesday < Wednesday < Thursday < Friday < Saturday < Sunday]

In [50]:
group2_df = grouped_df.reset_index()

In [46]:
#group2_df = pd.Categorical(group2_df['weekday'], categories=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'], ordered=True)

In [51]:
item_db = dict()
for index, row in group2_df.iterrows():
    print(row['passholder_type'])
    key = row['passholder_type']
    day = row['weekday']
    duration = row['duration']
    if (key in item_db):
        item_db[key].append({'weekday': day, 'duration': duration})
    else:
        item_db[key] = [{'weekday': day, 'duration': duration}]

Annual Pass
Annual Pass
Flex Pass
Flex Pass
Flex Pass
Flex Pass
Flex Pass
Flex Pass
Flex Pass
Monthly Pass
Monthly Pass
Monthly Pass
Monthly Pass
Monthly Pass
Monthly Pass
Monthly Pass
One Day Pass
One Day Pass
One Day Pass
One Day Pass
One Day Pass
One Day Pass
One Day Pass
Walk-up
Walk-up
Walk-up
Walk-up
Walk-up
Walk-up
Walk-up

In [25]:
item_db

{'Annual Pass': [{'weekday': 'Saturday', 'duration': 242},
  {'weekday': 'Sunday', 'duration': 163}],
 'Flex Pass': [{'weekday': 'Friday', 'duration': 5391},
  {'weekday': 'Monday', 'duration': 4318},
  {'weekday': 'Saturday', 'duration': 4730},
  {'weekday': 'Sunday', 'duration': 5049},
  {'weekday': 'Thursday', 'duration': 3222},
  {'weekday': 'Tuesday', 'duration': 3676},
  {'weekday': 'Wednesday', 'duration': 2683}],
 'Monthly Pass': [{'weekday': 'Friday', 'duration': 105751},
  {'weekday': 'Monday', 'duration': 103022},
  {'weekday': 'Saturday', 'duration': 86178},
  {'weekday': 'Sunday', 'duration': 90774},
  {'weekday': 'Thursday', 'duration': 102579},
  {'weekday': 'Tuesday', 'duration': 99726},
  {'weekday': 'Wednesday', 'duration': 94277}],
 'One Day Pass': [{'weekday': 'Friday', 'duration': 37332},
  {'weekday': 'Monday', 'duration': 36064},
  {'weekday': 'Saturday', 'duration': 58287},
  {'weekday': 'Sunday', 'duration': 83727},
  {'weekday': 'Thursday', 'duration': 24697},
  {'weekday': 'Tuesday', 'duration': 22184},
  {'weekday': 'Wednesday', 'duration': 33385}],
 'Walk-up': [{'weekday': 'Friday', 'duration': 356166},
  {'weekday': 'Monday', 'duration': 293712},
  {'weekday': 'Saturday', 'duration': 545337},
  {'weekday': 'Sunday', 'duration': 586569},
  {'weekday': 'Thursday', 'duration': 300501},
  {'weekday': 'Tuesday', 'duration': 264067},
  {'weekday': 'Wednesday', 'duration': 295016}]}

In [27]:
db.bike_rental.insert(item_db)

C:\Users\charl\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  if __name__ == '__main__':

ObjectId('5c0893488a95a61b086be51e')

In [28]:
item_db['One Day Pass']

[{'weekday': 'Friday', 'duration': 37332},
 {'weekday': 'Monday', 'duration': 36064},
 {'weekday': 'Saturday', 'duration': 58287},
 {'weekday': 'Sunday', 'duration': 83727},
 {'weekday': 'Thursday', 'duration': 24697},
 {'weekday': 'Tuesday', 'duration': 22184},
 {'weekday': 'Wednesday', 'duration': 33385}]

In [36]:
bike_trip = db.bike_rental.find()

In [37]:
bike_trip = list(bike_trip)

In [39]:
bike_trip[0]['Annual Pass']

[{'weekday': 'Saturday', 'duration': 242},
 {'weekday': 'Sunday', 'duration': 163}]

In [57]:
collection.find_one()

{'_id': ObjectId('5c08b2318a95a636948ed883'),
 'trip_id': 94851140,
 'duration': 8,
 'start_time': '00:04:00',
 'end_time': '00:12:00',
 'start_station': 3058,
 'start_lat': 34.035801,
 'start_lon': -118.23317,
 'end_station': 3082,
 'end_lat': 34.04652,
 'end_lon': -118.237411,
 'bike_id': 6279,
 'plan_duration': 30,
 'trip_route_category': 'One Way',
 'passholder_type': 'Monthly Pass',
 'weekday': 'Sunday',
 'start_day': '2018-07-01',
 'end_day': '2018-07-01'}

In [65]:
station_id = 3006

In [66]:
rental_start = collection.find({'start_station': station_id})

In [67]:
rental_start = list(rental_start)

In [68]:
df = pd.DataFrame(rental_start)

In [78]:
df.count

<bound method DataFrame.count of                            _id  bike_id  duration     end_day    end_lat  \
0     5c08b2318a95a636948ed951     6568        22  2018-07-01  34.028679
1     5c08b2318a95a636948ed969     6139         4  2018-07-01  34.048038
2     5c08b2318a95a636948eda76     6690         6  2018-07-01  34.047749
3     5c08b2318a95a636948edae4     6428         4  2018-07-01  34.045181
4     5c08b2318a95a636948edb0d     6373         4  2018-07-01  34.044701
5     5c08b2318a95a636948edb12     6233        14  2018-07-01  34.046520
6     5c08b2318a95a636948edb17    12221        17  2018-07-01  34.051102
7     5c08b2318a95a636948edb26     5834        12  2018-07-01  34.037048
8     5c08b2318a95a636948edb4f     6673         5  2018-07-02  34.045181
9     5c08b2318a95a636948edbf7     5881        25  2018-07-02  34.046810
10    5c08b2318a95a636948edbf9     6665        25  2018-07-02  34.046810
11    5c08b2318a95a636948edc34    12110         4  2018-07-02  34.044701
12    5c08b2318a95a636948edc95    12333         3  2018-07-02  34.040600
13    5c08b2318a95a636948edcd4     6065        10  2018-07-02  34.041691
14    5c08b2318a95a636948edce9    12254         3  2018-07-02  34.044701
15    5c08b2318a95a636948edcee     6113        15  2018-07-02  34.045181
16    5c08b2318a95a636948eddb0     6504         8  2018-07-02  34.041691
17    5c08b2318a95a636948eddf2     6294         5  2018-07-02  34.051102
18    5c08b2318a95a636948ede08     6593        19  2018-07-02  34.074829
19    5c08b2318a95a636948edebb     6135         9  2018-07-03  34.039982
20    5c08b2318a95a636948edf2b     6566         8  2018-07-03  34.046822
21    5c08b2318a95a636948edf35     5881         3  2018-07-03  34.044701
22    5c08b2318a95a636948edf53    12241         6  2018-07-03  34.038609
23    5c08b2318a95a636948edf57     6728         1  2018-07-03  34.045540
24    5c08b2318a95a636948edf58     6205         1  2018-07-03  34.045540
25    5c08b2318a95a636948edf5a     6205         1  2018-07-03  34.045540
26    5c08b2318a95a636948edf5d     6205         1  2018-07-03  34.045540
27    5c08b2318a95a636948edf5e    12064         1  2018-07-03  34.045540
28    5c08b2318a95a636948edf61    12064         4  2018-07-03  34.048038
29    5c08b2318a95a636948edf62     6205         3  2018-07-03  34.048038
...                        ...      ...       ...         ...        ...
1548  5c08b2318a95a63694903ead    12367        67  2018-09-29  34.048401
1549  5c08b2318a95a63694903ecd     6667         5  2018-09-30  34.046822
1550  5c08b2318a95a63694903ef7     5749       415  2018-09-30  34.045540
1551  5c08b2318a95a63694903f1e    12351        10  2018-09-30  34.043732
1552  5c08b2318a95a63694903f7d    12330        78  2018-09-30  34.045540
1553  5c08b2318a95a63694903fbd    12109       129  2018-09-30  34.046810
1554  5c08b2318a95a63694903fc5     6626         2  2018-09-30  34.046810
1555  5c08b2318a95a63694904009     6031       131  2018-09-30  34.046810
1556  5c08b2318a95a63694904035     5901        15  2018-09-30  34.044159
1557  5c08b2318a95a63694904038     6140       265  2018-09-30  34.045540
1558  5c08b2318a95a6369490403c    11972       264  2018-09-30  34.045540
1559  5c08b2318a95a6369490403f    12135       263  2018-09-30  34.045540
1560  5c08b2318a95a63694904042     6020       147  2018-09-30  34.046810
1561  5c08b2318a95a63694904081     6164        70  2018-09-30  34.028351
1562  5c08b2318a95a63694904127     6450       256  2018-09-30  34.049889
1563  5c08b2318a95a6369490418b     6319        15  2018-09-30  34.043732
1564  5c08b2318a95a63694904190     5842        24  2018-09-30  34.053200
1565  5c08b2318a95a6369490429b    11991         4  2018-09-30  34.045181
1566  5c08b2318a95a636949042d0     6140        11  2018-09-30  34.048401
1567  5c08b2318a95a636949042dc     6199        34  2018-09-30  34.051102
1568  5c08b2318a95a63694904314     5768        15  2018-09-30  34.050880
1569  5c08b2318a95a63694904382     5813        16  2018-09-30  34.045181
1570  5c08b2318a95a636949043ad     6288         4  2018-09-30  34.042061
1571  5c08b2318a95a636949043c7    12109        23  2018-09-30  34.043732
1572  5c08b2318a95a636949043f2    12091        23  2018-09-30  34.045540
1573  5c08b2318a95a636949043fa     6256       165  2018-09-30  34.039188
1574  5c08b2318a95a636949043fc    11967       163  2018-09-30  34.039188
1575  5c08b2318a95a63694904404     6395        11  2018-09-30  34.035801
1576  5c08b2318a95a63694904405     6114        11  2018-09-30  34.035801
1577  5c08b2318a95a6369490445b     6441        10  2018-09-30  34.048851

         end_lon  end_station  end_time passholder_type  plan_duration  \
0    -118.284111         4254  12:47:00         Walk-up              1
1    -118.253738         3063  12:53:00    Monthly Pass             30
2    -118.243172         3062  18:01:00    Monthly Pass             30
3    -118.250237         3067  19:37:00    Monthly Pass             30
4    -118.252441         3031  20:35:00    Monthly Pass             30
5    -118.237411         3082  21:00:00    Monthly Pass             30
6    -118.264557         3052  21:06:00    One Day Pass              1
7    -118.254868         3010  21:32:00         Walk-up              1
8    -118.250237         3067  03:01:00    Monthly Pass             30
9    -118.256981         3064  10:44:00    One Day Pass              1
10   -118.256981         3064  10:44:00    One Day Pass              1
11   -118.252441         3031  11:57:00    Monthly Pass             30
12   -118.253838         3076  13:49:00         Walk-up              1
13   -118.235352         3048  15:35:00    Monthly Pass             30
14   -118.252441         3031  15:55:00    Monthly Pass             30
15   -118.250237         3067  16:09:00    Monthly Pass             30
16   -118.235352         3048  18:51:00       Flex Pass            365
17   -118.264557         3052  20:02:00    Monthly Pass             30
18   -118.258728         4220  20:34:00    Monthly Pass             30
19   -118.266403         3047  09:09:00    Monthly Pass             30
20   -118.248352         3038  11:44:00    Monthly Pass             30
21   -118.252441         3031  11:54:00    Monthly Pass             30
22   -118.260857         3019  12:39:00         Walk-up              1
23   -118.256668         3006  12:40:00    Monthly Pass             30
24   -118.256668         3006  12:41:00    Monthly Pass             30
25   -118.256668         3006  12:42:00    Monthly Pass             30
26   -118.256668         3006  12:43:00    Monthly Pass             30
27   -118.256668         3006  12:43:00    Monthly Pass            365
28   -118.253738         3063  12:47:00    Monthly Pass            365
29   -118.253738         3063  12:47:00    Monthly Pass             30
...          ...          ...       ...             ...            ...
1548 -118.260948         3035  23:56:00    Monthly Pass             30
1549 -118.248352         3038  00:10:00    Monthly Pass             30
1550 -118.256668         3006  14:26:00    One Day Pass              1
1551 -118.260139         3018  09:07:00         Walk-up              1
1552 -118.256668         3006  11:06:00         Walk-up              1
1553 -118.256981         3064  12:18:00    One Day Pass              1
1554 -118.256981         3064  10:14:00    Monthly Pass             30
1555 -118.256981         3064  12:50:00    One Day Pass              1
1556 -118.251579         3055  11:14:00    Monthly Pass             30
1557 -118.256668         3006  15:24:00         Walk-up              1
1558 -118.256668         3006  15:24:00         Walk-up              1
1559 -118.256668         3006  15:24:00         Walk-up              1
1560 -118.256981         3064  13:30:00         Walk-up              1
1561 -118.288673         4248  12:44:00    One Day Pass              1
1562 -118.255882         3032  17:14:00         Walk-up              1
1563 -118.260139         3018  14:09:00    Monthly Pass             30
1564 -118.250954         3068  14:19:00       Flex Pass            365
1565 -118.250237         3067  15:50:00    Monthly Pass             30
1566 -118.260948         3035  16:20:00    Monthly Pass             30
1567 -118.264557         3052  16:47:00         Walk-up              1
1568 -118.248253         3069  16:54:00         Walk-up              1
1569 -118.250237         3067  17:41:00         Walk-up              1
1570 -118.263382         3034  17:57:00    Monthly Pass             30
1571 -118.260139         3018  18:32:00    Monthly Pass             30
1572 -118.256668         3006  19:06:00         Walk-up              1
1573 -118.232529         3036  21:31:00         Walk-up              1
1574 -118.232529         3036  21:30:00         Walk-up              1
1575 -118.233170         3058  19:11:00         Walk-up              1
1576 -118.233170         3058  19:11:00         Walk-up              1
1577 -118.246422         3029  21:13:00    Monthly Pass             30

       start_day  start_lat   start_lon  start_station start_time    trip_id  \
0     2018-07-01   34.04554 -118.256668           3006   12:25:00   94931091
1     2018-07-01   34.04554 -118.256668           3006   12:49:00   94931072
2     2018-07-01   34.04554 -118.256668           3006   17:55:00   94973457
3     2018-07-01   34.04554 -118.256668           3006   19:33:00   94980688
4     2018-07-01   34.04554 -118.256668           3006   20:31:00   94988025
5     2018-07-01   34.04554 -118.256668           3006   20:46:00   94988022
6     2018-07-01   34.04554 -118.256668           3006   20:49:00   94995453
7     2018-07-01   34.04554 -118.256668           3006   21:20:00   94995436
8     2018-07-02   34.04554 -118.256668           3006   02:56:00   95036164
9     2018-07-02   34.04554 -118.256668           3006   10:19:00   95081791
10    2018-07-02   34.04554 -118.256668           3006   10:19:00   95081794
11    2018-07-02   34.04554 -118.256668           3006   11:53:00   95088517
12    2018-07-02   34.04554 -118.256668           3006   13:46:00   95102210
13    2018-07-02   34.04554 -118.256668           3006   15:25:00   95116117
14    2018-07-02   34.04554 -118.256668           3006   15:52:00   95116099
15    2018-07-02   34.04554 -118.256668           3006   15:54:00   95123182
16    2018-07-02   34.04554 -118.256668           3006   18:43:00   95137455
17    2018-07-02   34.04554 -118.256668           3006   19:57:00   95152148
18    2018-07-02   34.04554 -118.256668           3006   20:15:00   95152120
19    2018-07-03   34.04554 -118.256668           3006   09:00:00   95230753
20    2018-07-03   34.04554 -118.256668           3006   11:36:00   95243929
21    2018-07-03   34.04554 -118.256668           3006   11:51:00   95243905
22    2018-07-03   34.04554 -118.256668           3006   12:33:00   95250752
23    2018-07-03   34.04554 -118.256668           3006   12:39:00   95250736
24    2018-07-03   34.04554 -118.256668           3006   12:40:00   95250732
25    2018-07-03   34.04554 -118.256668           3006   12:41:00   95250726
26    2018-07-03   34.04554 -118.256668           3006   12:42:00   95250716
27    2018-07-03   34.04554 -118.256668           3006   12:42:00   95250717
28    2018-07-03   34.04554 -118.256668           3006   12:43:00   95250712
29    2018-07-03   34.04554 -118.256668           3006   12:44:00   95250711
...          ...        ...         ...            ...        ...        ...
1548  2018-09-29   34.04554 -118.256668           3006   22:49:00  106357396
1549  2018-09-30   34.04554 -118.256668           3006   00:05:00  106358051
1550  2018-09-30   34.04554 -118.256668           3006   07:31:00  106403589
1551  2018-09-30   34.04554 -118.256668           3006   08:57:00  106382108
1552  2018-09-30   34.04554 -118.256668           3006   09:48:00  106403313
1553  2018-09-30   34.04554 -118.256668           3006   10:09:00  106403184
1554  2018-09-30   34.04554 -118.256668           3006   10:12:00  106383095
1555  2018-09-30   34.04554 -118.256668           3006   10:39:00  106403031
1556  2018-09-30   34.04554 -118.256668           3006   10:59:00  106383711
1557  2018-09-30   34.04554 -118.256668           3006   10:59:00  106402914
1558  2018-09-30   34.04554 -118.256668           3006   11:00:00  106402907
1559  2018-09-30   34.04554 -118.256668           3006   11:01:00  106402902
1560  2018-09-30   34.04554 -118.256668           3006   11:03:00  106402891
1561  2018-09-30   34.04554 -118.256668           3006   11:34:00  106385144
1562  2018-09-30   34.04554 -118.256668           3006   12:58:00  106402311
1563  2018-09-30   34.04554 -118.256668           3006   13:54:00  106386207
1564  2018-09-30   34.04554 -118.256668           3006   13:55:00  106386341
1565  2018-09-30   34.04554 -118.256668           3006   15:46:00  106387525
1566  2018-09-30   34.04554 -118.256668           3006   16:09:00  106388139
1567  2018-09-30   34.04554 -118.256668           3006   16:13:00  106388764
1568  2018-09-30   34.04554 -118.256668           3006   16:39:00  106388863
1569  2018-09-30   34.04554 -118.256668           3006   17:25:00  106390351
1570  2018-09-30   34.04554 -118.256668           3006   17:53:00  106390873
1571  2018-09-30   34.04554 -118.256668           3006   18:09:00  106392188
1572  2018-09-30   34.04554 -118.256668           3006   18:43:00  106393612
1573  2018-09-30   34.04554 -118.256668           3006   18:46:00  106399895
1574  2018-09-30   34.04554 -118.256668           3006   18:47:00  106399666
1575  2018-09-30   34.04554 -118.256668           3006   19:00:00  106393816
1576  2018-09-30   34.04554 -118.256668           3006   19:00:00  106393817
1577  2018-09-30   34.04554 -118.256668           3006   21:03:00  106398817

     trip_route_category   weekday
0                One Way    Sunday
1                One Way    Sunday
2                One Way    Sunday
3                One Way    Sunday
4                One Way    Sunday
5                One Way    Sunday
6                One Way    Sunday
7                One Way    Sunday
8                One Way    Monday
9                One Way    Monday
10               One Way    Monday
11               One Way    Monday
12               One Way    Monday
13               One Way    Monday
14               One Way    Monday
15               One Way    Monday
16               One Way    Monday
17               One Way    Monday
18               One Way    Monday
19               One Way   Tuesday
20               One Way   Tuesday
21               One Way   Tuesday
22               One Way   Tuesday
23            Round Trip   Tuesday
24            Round Trip   Tuesday
25            Round Trip   Tuesday
26            Round Trip   Tuesday
27            Round Trip   Tuesday
28               One Way   Tuesday
29               One Way   Tuesday
...                  ...       ...
1548             One Way  Saturday
1549             One Way    Sunday
1550          Round Trip    Sunday
1551             One Way    Sunday
1552          Round Trip    Sunday
1553             One Way    Sunday
1554             One Way    Sunday
1555             One Way    Sunday
1556             One Way    Sunday
1557          Round Trip    Sunday
1558          Round Trip    Sunday
1559          Round Trip    Sunday
1560             One Way    Sunday
1561             One Way    Sunday
1562             One Way    Sunday
1563             One Way    Sunday
1564             One Way    Sunday
1565             One Way    Sunday
1566             One Way    Sunday
1567             One Way    Sunday
1568             One Way    Sunday
1569             One Way    Sunday
1570             One Way    Sunday
1571             One Way    Sunday
1572          Round Trip    Sunday
1573             One Way    Sunday
1574             One Way    Sunday
1575             One Way    Sunday
1576             One Way    Sunday
1577             One Way    Sunday

[1578 rows x 18 columns]>

In [79]:
grouped_df = df[['passholder_type','weekday','start_station']].groupby(['passholder_type','weekday']).count()

In [80]:
group2_df = grouped_df.reset_index()

In [81]:
group2_df.head(10)

  passholder_type    weekday  start_station
0       Flex Pass     Friday              9
1       Flex Pass     Monday              9
2       Flex Pass   Saturday              6
3       Flex Pass     Sunday             11
4       Flex Pass   Thursday              7
5       Flex Pass    Tuesday              4
6       Flex Pass  Wednesday             12
7    Monthly Pass     Friday            154
8    Monthly Pass     Monday            129
9    Monthly Pass   Saturday            136

In [82]:
item_db = dict()
for index, row in group2_df.iterrows():
    #print(row['passholder_type'])
    key = row['passholder_type']
    day = row['weekday']
    start_station = row['start_station']
    if (key in item_db):
        item_db[key].append({'weekday': day, 'start_station': start_station})
    else:
        item_db[key] = [{'weekday': day, 'start_station': start_station}]

In [83]:
item_db

{'Flex Pass': [{'weekday': 'Friday', 'start_station': 9},
  {'weekday': 'Monday', 'start_station': 9},
  {'weekday': 'Saturday', 'start_station': 6},
  {'weekday': 'Sunday', 'start_station': 11},
  {'weekday': 'Thursday', 'start_station': 7},
  {'weekday': 'Tuesday', 'start_station': 4},
  {'weekday': 'Wednesday', 'start_station': 12}],
 'Monthly Pass': [{'weekday': 'Friday', 'start_station': 154},
  {'weekday': 'Monday', 'start_station': 129},
  {'weekday': 'Saturday', 'start_station': 136},
  {'weekday': 'Sunday', 'start_station': 112},
  {'weekday': 'Thursday', 'start_station': 137},
  {'weekday': 'Tuesday', 'start_station': 144},
  {'weekday': 'Wednesday', 'start_station': 141}],
 'One Day Pass': [{'weekday': 'Friday', 'start_station': 3},
  {'weekday': 'Monday', 'start_station': 9},
  {'weekday': 'Saturday', 'start_station': 12},
  {'weekday': 'Sunday', 'start_station': 16},
  {'weekday': 'Thursday', 'start_station': 1},
  {'weekday': 'Wednesday', 'start_station': 9}],
 'Walk-up': [{'weekday': 'Friday', 'start_station': 77},
  {'weekday': 'Monday', 'start_station': 49},
  {'weekday': 'Saturday', 'start_station': 70},
  {'weekday': 'Sunday', 'start_station': 133},
  {'weekday': 'Thursday', 'start_station': 75},
  {'weekday': 'Tuesday', 'start_station': 57},
  {'weekday': 'Wednesday', 'start_station': 56}]}

In [84]:
rental_item = [item_db]

In [85]:
rental_item[0]

{'Flex Pass': [{'weekday': 'Friday', 'start_station': 9},
  {'weekday': 'Monday', 'start_station': 9},
  {'weekday': 'Saturday', 'start_station': 6},
  {'weekday': 'Sunday', 'start_station': 11},
  {'weekday': 'Thursday', 'start_station': 7},
  {'weekday': 'Tuesday', 'start_station': 4},
  {'weekday': 'Wednesday', 'start_station': 12}],
 'Monthly Pass': [{'weekday': 'Friday', 'start_station': 154},
  {'weekday': 'Monday', 'start_station': 129},
  {'weekday': 'Saturday', 'start_station': 136},
  {'weekday': 'Sunday', 'start_station': 112},
  {'weekday': 'Thursday', 'start_station': 137},
  {'weekday': 'Tuesday', 'start_station': 144},
  {'weekday': 'Wednesday', 'start_station': 141}],
 'One Day Pass': [{'weekday': 'Friday', 'start_station': 3},
  {'weekday': 'Monday', 'start_station': 9},
  {'weekday': 'Saturday', 'start_station': 12},
  {'weekday': 'Sunday', 'start_station': 16},
  {'weekday': 'Thursday', 'start_station': 1},
  {'weekday': 'Wednesday', 'start_station': 9}],
 'Walk-up': [{'weekday': 'Friday', 'start_station': 77},
  {'weekday': 'Monday', 'start_station': 49},
  {'weekday': 'Saturday', 'start_station': 70},
  {'weekday': 'Sunday', 'start_station': 133},
  {'weekday': 'Thursday', 'start_station': 75},
  {'weekday': 'Tuesday', 'start_station': 57},
  {'weekday': 'Wednesday', 'start_station': 56}]}

In [86]:
bike_trip = db.bike_trip.find()
bike_trip = list(bike_trip)
df = pd.DataFrame(bike_trip)
grouped_df = df[['passholder_type','trip_id']].groupby('passholder_type').count()
pie_df = grouped_df.reset_index()

In [96]:
pie_df.to_json(orient='records')

'[{"passholder_type":"Annual Pass","trip_id":10},{"passholder_type":"Flex Pass","trip_id":1566},{"passholder_type":"Monthly Pass","trip_id":43102},{"passholder_type":"One Day Pass","trip_id":4445},{"passholder_type":"Walk-up","trip_id":44076}]'

In [90]:
conn = 'mongodb://localhost:27017/bike_data_db'
client = pymongo.MongoClient(conn)
db = client.bike_data_db

In [103]:
db.bike_rental.insert(json.loads(pie_df.to_json(orient='index')))

C:\Users\charl\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  if __name__ == '__main__':

ObjectId('5c08f8bf8a95a61b086be529')

In [102]:
json.loads(pie_df.to_json(orient='index'))

{'0': {'passholder_type': 'Annual Pass', 'trip_id': 10},
 '1': {'passholder_type': 'Flex Pass', 'trip_id': 1566},
 '2': {'passholder_type': 'Monthly Pass', 'trip_id': 43102},
 '3': {'passholder_type': 'One Day Pass', 'trip_id': 4445},
 '4': {'passholder_type': 'Walk-up', 'trip_id': 44076}}

In [104]:
items = db.bike_rental.find()

In [105]:
items = list(items)

In [109]:

if 'Annual Pass' in items[1].keys():
    print("Here")

In [118]:
for item in items:
    if 'Annual Pass' in item.keys():
        print("Thank you next")
    else:
        print(item.keys())

Thank you next
dict_keys(['_id', '0', '1', '2', '3', '4'])

In [114]:
items[1]

{'_id': ObjectId('5c08f8bf8a95a61b086be529'),
 '0': {'passholder_type': 'Annual Pass', 'trip_id': 10},
 '1': {'passholder_type': 'Flex Pass', 'trip_id': 1566},
 '2': {'passholder_type': 'Monthly Pass', 'trip_id': 43102},
 '3': {'passholder_type': 'One Day Pass', 'trip_id': 4445},
 '4': {'passholder_type': 'Walk-up', 'trip_id': 44076}}