In [1]:
import pymongo
import pandas as pd 
from pymongo import MongoClient
import pprint
from datetime import datetime
import time
import calendar

In [2]:
conn = 'mongodb://localhost:27017'
client = MongoClient(conn)

In [3]:
db = client.bike_data_db

bike_trip = db.bike_trip.find()

In [4]:
full_dict = []
for trip in bike_trip:
    full_dict.append(trip)
df = pd.DataFrame(full_dict)

In [10]:
df.head()

,_id,bike_id,duration,end_day,end_lat,end_lon,end_station,end_time,passholder_type,plan_duration,start_day,start_lat,start_lon,start_station,start_time,trip_id,trip_route_category,weekday
0,5c016831f596e114f49a3ba6,6279,8,2018-07-01,34.046520,-118.237411,3082,00:12:00,Monthly Pass,30,2018-07-01,34.035801,-118.233170,3058,00:04:00,94851140,One Way,Sunday
1,5c016831f596e114f49a3ba7,6518,8,2018-07-01,34.046520,-118.237411,3082,00:12:00,Flex Pass,365,2018-07-01,34.035801,-118.233170,3058,00:04:00,94851141,One Way,Sunday
2,5c016831f596e114f49a3ba8,4823,15,2018-07-01,34.165291,-118.150970,4174,00:24:00,Monthly Pass,365,2018-07-01,34.145248,-118.150070,4147,00:09:00,94851138,One Way,Sunday
3,5c016831f596e114f49a3ba9,6115,7,2018-07-01,34.147499,-118.148010,4162,00:29:00,Monthly Pass,30,2018-07-01,34.140999,-118.132088,4157,00:22:00,94851137,One Way,Sunday
4,5c016831f596e114f49a3baa,12055,35,2018-07-01,33.779819,-118.263023,3013,00:58:00,Walk-up,1,2018-07-01,33.779819,-118.263023,3013,00:23:00,94851136,Round Trip,Sunday

In [13]:
grouped_df = df[['passholder_type','trip_id']].groupby('passholder_type').count()
pie_df = grouped_df.reset_index()
pie_df.to_json(orient='records')

'[{"passholder_type":"Annual Pass","trip_id":10},{"passholder_type":"Flex Pass","trip_id":1566},{"passholder_type":"Monthly Pass","trip_id":43102},{"passholder_type":"One Day Pass","trip_id":4445},{"passholder_type":"Walk-up","trip_id":44076}]'