In [7]:
import json
import pandas as pd
import requests
import pymongo
from pymongo import MongoClient
url = "http://bikeshare.metro.net/stations/json/"
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
response = requests.get(url, headers = headers)

In [8]:
conn = 'mongodb://localhost:27017'
client = MongoClient(conn)

In [9]:
db = client.bike_data_db

bike_trip = db.bike_trip.find()

In [10]:
full_dict = []
for trip in bike_trip:
    full_dict.append(trip)
df = pd.DataFrame(full_dict)

In [12]:
df.groupby('passholder_type').count()

,_id,bike_id,duration,end_day,end_lat,end_lon,end_station,end_time,plan_duration,start_day,start_lat,start_lon,start_station,start_time,trip_id,trip_route_category,weekday
passholder_type,,,,,,,,,,,,,,,,,
Annual Pass,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Flex Pass,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566
Monthly Pass,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102,43102
One Day Pass,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445,4445
Walk-up,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076,44076

'[{"passholder_type":"Annual Pass","trip_id":10},{"passholder_type":"Flex Pass","trip_id":1566},{"passholder_type":"Monthly Pass","trip_id":43102},{"passholder_type":"One Day Pass","trip_id":4445},{"passholder_type":"Walk-up","trip_id":44076}]'